<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/modalCropper/jquery-3.1.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

    {{#products}}
    <div class="card card-body">
        <a href="/post/edit/{{id}}">
        <h1>{{user.name}}</h1>
        <h6>{{title}}</h6>
        <h6>{{price}}</h6>
        <h6>{{description}}</h6>
        <div>

        {{!-- {{#images}} --}}
        <img src="{{images.[0]}}" alt="" srcset="" style="width: 200px; margin: 0%; height: 300px;object-fit: contain;">
        {{!-- {{/images}} --}}
        </a>
        </div>
        <br>
    </div>
    {{/products}}
</body>

<script>
    
</script>

</html>