<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} </title>
    <script src="/modalCropper/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="/modalCropper/croppie.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ProfileCSS/profileTemplate.css" />
    {{!--
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /> --}}
    <link rel="stylesheet" href="/css/SidebarCss/sidebar.css" />
    <link rel="stylesheet" href="/css/SidebarCss/styles.css" />
    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css"> --}}
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css" />
    <style>
        label.cabinet {
            display: block;
            cursor: pointer;
        }

        label.cabinet input.file {
            position: relative;
            height: 100%;
            width: auto;
            opacity: 0;
            -moz-opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            margin-top: -30px;
        }

        #upload-demo {
            width: 250px;
            height: 250px;
            padding-bottom: 25px;
        }
    </style>
</head>
<style>
  /*Copied from bootstrap to handle input file multiple*/
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  /*Also */
  .btn-success {
    border: 1px solid #c5dbec;
    background: #d0e5f5;
    font-weight: bold;
    color: #2e6e9e;
  }

  /* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
  .fileinput-button {
    position: relative;
    overflow: hidden;
  }

  .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }

  .thumb {
    height: 80px;
    width: 100px;
    border: 1px solid #000;
  }

  ul.thumb-Images li {
    width: 120px;
    float: left;
    display: inline-block;
    vertical-align: top;
    height: 120px;
  }

  .img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
  }

  .img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #d0e5f5;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.5;
    font-size: 23px;
    line-height: 10px;
    border-radius: 50%;
  }

  .img-wrap:hover .close {
    opacity: 1;
    background-color: #ff0000;
  }

  .FileNameCaptionStyle {
    font-size: 12px;
  }
</style>
<style>
    body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
}
</style>

<body>
  {{>sidebarFixed}}
  <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="upload-demo" class="center-block"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>
    
  <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="row">

                

  <div class="card card-body my-5">
      <div class="px-4 pt-0 pb-4 cover">
                        <div class="media align-items-end profile-head mt-5">
                            <div class="profile mr-3" style="width: 30%;">
                                <label class="cabinet ">
                                    {{!-- <img src="" class="gambar img-responsive img-thumbnail"
                                        id="item-img-output" /> --}}
                                    <i class="mdi mdi-camera" style="color: #c5dbec;">

                                    <img src="{{profile.profilePic}}" class="gambar img-responsive img-thumbnail"
                                        style="border: 0px;" id="item-img-output" />
                                    </i>


                                    <input type="file" onchange="getFileData(this)" class="item-img file center-block"
                                        name="file_photo" />
                                </label>
                                
                            </div>
                        </div>
                    </div>
        <div class="mt-5 mb-2 text-center"><h1>{{user.name}}</h1></div>
    <form action="/profilePic/update" class="form-control my-5" method="POST" >
      
      <div class="form-floating">
        <input type="livingArea" class="form-control{{#if error.livingArea }} is-invalid{{/if}}" id="livingArea" placeholder="Living Area"
          name="livingArea" value="{{profile.livingArea}}" required>
        <label for="livingArea"></label>
        <div class="invalid-feedback">
          {{error.livingArea}}
        </div>
      </div>

      <div class="form-floating">
        <input type="occupation" maxlength='25' id="occupation" name="occupation" class="form-control"
          placeholder="Occupation" value="{{profile.occupation}}"  required>
        <label for="occupation"></label>
      </div>

        <div class="form-floating">
                {{!-- <input type="text" id="about" name="about"
                style="  line-height:30px;font-size:22px;"> --}}
            <textarea type="text" maxlength='250' id="bio" name="bio" class="form-control"
            placeholder="Bio"
                style="width: 100%;height: 150px;">{{profile.bio}}</textarea>

            {{!-- {{Alert}} --}}
            <div class="alert" id="alert" role="alert"></div>
        </div>
        <input type="submit" id="update" onclick="updateBio()" value="submit">
    </form>

  </div>
  <div>

    <!--To give the control a modern look, I have applied a stylesheet in the parent span.-->
    <form id="theform" >
      {{!-- <input type="submit" value="submit"> --}}
    </form>
  </div>

  </div>
  </div>
  </div>
</body>
<script src="/modalCropper/croppie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <script>
            $('#bio').keyup(function () {
                var $alert = $('.alert');
                var max = 250;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#alert').text(' you have reached the limit');
                }
                if (len < 50) {
                    var min =50-len
                    $alert.show().addClass('alert-danger').text('Minimum' + min + ' characters needs to be reached')

                }
                if (len > 50) {
                    $alert.show().removeClass("alert-danger")
                    var char = max - len;
                    //$('#alert').text(char + ' characters left');
                    $alert.show().addClass('alert-success').text(char + ' characters left');
                }
            });
        </script>
<script>
            function getFileData(myFile) {
                var file = myFile.files[0];
                var filename = file.name;
                console.log(filename),
                    window.name = filename
            }
            // Start upload preview image
            //$(".gambar").attr("src", "https://user.gadjian.com/static/images/personnel_boy.png");
            var $uploadCrop,
                tempFilename,
                rawImg,
                imageId;
            var $alert = $('.alert');
            function readFile(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.upload-demo').addClass('ready');
                        $('#cropImagePop').modal('show');
                        rawImg = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);

                }
                else {
                    swal("Sorry - you're browser doesn't support the FileReader API");
                }
            }

            $uploadCrop = $('#upload-demo').croppie({
                viewport: {
                    width: 150,
                    height: 200,
                },
                enforceBoundary: false,
                //enableExif: true
            });
            $('#cropImagePop').on('shown.bs.modal', function () {
                // alert('Shown pop');
                $uploadCrop.croppie('bind', {
                    url: rawImg
                }).then(function () {
                    console.log('jQuery bind complete');
                });
            });

            $('.item-img').on('change', function () {
                imageId = $(this).data('id');
                tempFilename = $(this).val();
                $('#cancelCropBtn').data('id', imageId); readFile(this);
            });

            const curProfilePic = document.getElementById("item-img-output").getAttribute("src");
            console.log(curProfilePic)
            const deleteRequest = (curProfilePic) => {
                if (curProfilePic !== "/img/user.png") {

                    $.ajax({
                        url: '/profilePic/createProfile',
                        method: 'DELETE',
                        cache: false,
                        data: { "img": curProfilePic },
                        success: function (response) {
                            //console.log(response.profilePic)
                            $alert.show().addClass('alert-success').text('delete success');
                        },
                        error: function (e) {
                            console.log(e)
                            //avatar.src = source;
                            $alert.show().addClass('alert-warning').text('delete error');
                        },
                    });
                }
            }

            $('#cropImageBtn').on('click', function (ev) {
                $uploadCrop.croppie('result', {
                    type: 'base64',
                    format: 'jpeg',
                    size: "original",
                    quality: 1
                }).then(function (resp) {
                    $('#item-img-output').attr('src', resp);
                    $.ajax('/profilePic/createProfile', {
                        method: 'POST',
                        async: true,
                        cache: false,
                        data: {
                            "img": resp,
                            "name": window.name
                        },
                        //processData: false,
                        //contentType: false,
                        success: function (response) {
                            //document.getElementById("item-img-output").src=response.profilePic
                            $alert.show().addClass('alert-success').text('Upload success');
                        },

                        error: function () {
                            $(".gambar").attr("src", "https://user.gadjian.com/static/images/personnel_boy.png");
                            $alert.show().addClass('alert-warning').text('Upload error');
                        },

                        complete: function () {
                            $progress.hide();
                            //deleteRequest(curProfilePic)
                        },
                    });
                    $('#cropImagePop').modal('hide');

                });
            });
                // End upload preview image
        </script>
</html>